@model List<BasketViewModel>;

@foreach (var item in Model)
{   <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>
            <img src="~/img/@item.Image" style="height: 50px; width: 50px">
        </td>
        <td>
            <a class="btn btn-primary mr-1" id="decrease-btn" data-id="@item.Id" @*asp-controller="Home" asp-action="CountDecrease" asp-route-id="@item.Id"*@>-</a>
            @item.Count 
            <a class="btn btn-primary ml-1" id="increase-btn" data-id="@item.Id" @* asp-controller="Home" asp-action="CountIncrease" asp-route-id="@item.Id"*@>+</a>
        </td>
        <td>$@(item.Price*item.Count)</td>
        <td><a class="btn btn-danger" id="cart-delete-btn" data-id = "@item.Id" @*asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"*@>delete</a></td>
    </tr>
}